<!doctype html>
<html>
    <head>
        <title>About</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
    <div class="navbar navbar-toggle-md">
        <span class="navbar-brand title"><b>Poligraph</b></span>
    </div>
        <div class="content">
            <div class="about">
                <p>All the data was taken from Wikipedia so do not take it as an authority. The connections are the context in which one politician appears on another person's page. For example, if Hillary Clinton is mentioned as Obama's Secretary of State on his page, then that is a bi-directional connection. If no connection was returned then assume one does not exist on Wikipedia.</p>
                <p></p>
            </div>
        </div>
    </body>
</html>
