.container {

}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
}


.search-container {
  position: relative;
  width: 350px;
}

.search-container input {
  margin: 0.5em;
  width: 40%;
}

.search-container .hidden {
  display: none;
}

.drop-down {
  margin-left: 0.5em;
  position: absolute;
}

.search-container .drop-down .drop-down-row:hover {
  background-color: #e5e5e5;
}

.search-container .drop-down a {
  text-decoration: none;
  color: inherit;
}

.content .results {
  margin-top: 1em;
  margin-bottom: 2em;
}

.content .results .person-row {
  text-align: center;
}
