html, body {
  height: 100%;
  overflow: auto;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
}

h1 {
  margin-top: 0 !important;
  padding-top: 0.667em;
}

#container {
  margin: 0;
  padding: 0;
  height: 100%
}

.content {
  margin: 0 auto;
  max-width: 800px;
  width: 800px;
  height: 100%;
}

.search-container {
  position: relative;
}

.search {
 
}

.search-container .search .search-form {
  margin-top: 3em;
}

.search-input-container {
  position: relative;
  width: 40%;
  display: inline-block;
}

.search-input-container input {
  margin: 0.5em;
  height: 40px;
  width: 90%;
}

.search-input-container .hidden {
  display: none;
}

.drop-down {
  margin-left: 0.5em;
  position: absolute;
  padding: 4px;
  box-shadow: 2px 2px 6px #888888;
  background-color: white;
}

.drop-down .drop-down-row {
  padding-top: 3px;
}

.search-input-container .drop-down .drop-down-row:hover {
  background-color: #e5e5e5;
}

.search-input-container .drop-down a {
  text-decoration: none;
  color: inherit;
}

.content .results {
  margin-bottom: 2em;
}

.content .results .person-row {
  text-align: center;
}
