.container {

}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  width: 800px;
}

.search-container {
  position: relative;
}

.search {
  height: 200px;
}

.search-container .search .search-form {
  margin-top: 3em;
}

.search-input-container {
  position: relative;
  width: 40%;
  display: inline-block;
}

.search-input-container input {
  margin: 0.5em;
  height: 40px;
  width: 90%;
}

.search-input-container .hidden {
  display: none;
}

.drop-down {
  margin-left: 0.5em;
  position: absolute;
  padding: 2px;
  box-shadow: 2px 2px 6px #888888;
}

.drop-down .drop-down-row {
  padding-top: 3px;
}

.search-input-container .drop-down .drop-down-row:hover {
  background-color: #e5e5e5;
}

.search-input-container .drop-down a {
  text-decoration: none;
  color: inherit;
}

.content .results {
  margin-top: 1em;
  margin-bottom: 2em;
}

.content .results .person-row {
  text-align: center;
}
